body{
    background-color: rgb(59, 167, 131);
}
.div{
width: 300px;
margin: 0 auto;
padding: 30px;
border-radius: 15px;
background-color: white;

}
.otpravka{
color: white;
background-color: aqua;
padding: 10px 15px;
border-radius: 10px;
}

