body{
    background-color: rgba(63, 102, 51, 0.639);
}
.div{
width: 300px;
margin: 0 auto;
padding: 30px;
border-radius: 15px;
background-color: white;

}
.otpravka{
color: white;
background-color: rgb(15, 91, 38);
padding: 10px 15px;
border-radius: 10px;
}

